# Python + VS Code .gitignore file

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### OS specific ###
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# This project
features.json
env
.env
pipeline/data
*.log
clean_df.csv
.gitignore
eval breve_andrea.xlsx
eval breve_antonio.xlsx
eval breve_daniele.xlsx
eval breve_filippo.xlsx
.gitignore
.gitignore
logs/
cooc_histograms
cooc_histograms.zip
2_embeddings\data
data

env/
1.1_ndcg_all_layers.csv
final_sample_across_layers.csv
final_sample_across_layers_shuffled.csv

3_analysis/eval/llama/eval_andrea.csv
3_analysis/eval/llama/eval_antonio.csv
3_analysis/eval/llama/eval_filippo.csv
3_analysis/eval/llama/eval_daniele.csv
3_analysis/eval/llama/score_llama.csv

3_analysis/ndcg_all_layers_gemma.csv
3_analysis/ndcg_all_layers_llama.csv
3_analysis/eval/gemma/eval_andre.csv
3_analysis/eval/gemma/eval_antonio.csv
3_analysis/eval/gemma/eval_dani.csv
3_analysis/eval/gemma/scores/eleuther_fuzz_gemini-2.0-flash_scores_layer0.json
3_analysis/eval/gemma/scores/eleuther_fuzz_gemini-2.0-flash_scores_layer8.json
3_analysis/eval/gemma/scores/eleuther_fuzz_gemini-2.0-flash_scores_layer17.json
3_analysis/eval/gemma/scores/eleuther_fuzz_gemini-2.0-flash_scores_layer25.json
3_analysis/eval/gemma/eval_filippo .csv
3_analysis/eval/gemma/scores/eleuther_fuzz_gemini-2.0-flash_scores_layer41.json

Llama3_1-8B-Base-LXR-8x_new
3_analysis/eval/llama/debug_eval.csv
3_analysis/reranked_ndcg_all_layers_llama.csv
